$brand: #473E5C;
$secondary: #423D4A;
$purple: #7832D0;
$background: #FAFAFA;
$base: #ffffff;
$text: #4D4D4D;
$navitem: #4E3A6A;
$darkgray: #343638;
$white: #FFFFFF;

$light: 300;
$regular: 400;
$semibold: 700;
$bold: 900;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 600;
$font-weight-boldest: 900;



//max width

$max-width-container: 1080px;

