@use 'colors' as color;
@media screen and (min-width: 1025px) {
	.banner {
		display: none;
	}
		header{
			background-color: color.$background;
			width: 100%;
			padding-left: 44px;
			padding-right: 44px;
			padding-top: 20px;
			padding-bottom: 33px;
			display: flex;
			.logo {
				width: 173.087px;
				height:48.026px;
			}
			.nav-wraps {
				margin-left: auto;
			}
			.nav-top {
				display: flex;
				justify-content: flex-end;
				padding-bottom: .9em;
				ul {
					display: flex;
					list-style: none;
					li {
						padding-right: 1em;
						&:last-of-type {
							padding-right: 0;
						}
						a {
							font-weight: normal;
							color: color.$brand;
							text-transform: uppercase;
							font-size: 11px;
							text-decoration: none;
									&:hover {
													text-decoration: underline;
												}
						}
					}
				}
			}
			.nav-bottom {
				display: flex;
				ul {
					list-style: none;
					display: flex;
					align-items: center;
					li {
						padding-right: .5em;
						padding-top: 4px;
						padding-bottom: 4px;
						@media screen and (max-width: 1150px) {
						  padding-right: 0;
						}
						&:last-of-type {
							padding-right: 0;
						}
					a {
							font-weight: normal;
							text-decoration: none;
							color: color.$navitem;
							font-size: 14px;
							padding:8px;
							border:1px solid #fff;
							transition: all .3s ease-in-out;
							@media screen and (max-width: 1090px) {
							  padding:6px;
							}
									&:hover {
												color: color.$purple;
												background-color: #fff;
												border-radius: 5px;
												box-shadow: 0px 3px 6px rgba(0, 0, 0, .2);
												border:1px solid #F4F4F4;
												transition: all .3s ease-in-out;
												}
						}
					}
				}
			}
		}
		.h-tel {
			color: color.$brand;
			font-weight: color.$semibold;
			font-size: 1.4em;
			text-decoration: none;
			padding-left: 1em;
			@media screen and (max-width: 1057px) {
			  padding-left: .5em;
			  font-size: 1.2em;
			}
		}

		.menu-item-has-children {
			position: relative;
			.sub-menu {
				background-color: #fff;
				border-radius: 5px;
				min-width: 316px;
				box-shadow: 0px 3px 6px rgba(0, 0, 0, .2);
				border:1px solid #F4F4F4;
				transition: all .3s ease-in-out;
				li {
					padding:4px 8px 4px 1.5em;
							&:hover {
											background-color: color.$background;
										}
							a:hover {
											background-color: color.$background;
										}

				}
				&.depth-0 {
					display: none;
					opacity: 0;
					a {
						padding:initial;
						display: block;
						width: 100%;
						border:none;
								&:hover {
												border-radius: initial;
												box-shadow: initial;
												border:initial;
											}
					}
				}
				&.depth-1 {
					display: none;
				}
			}
		}

		.menu-item-has-children:hover {
			.sub-menu.depth-0 {
				position: absolute;
				top: 100%;
				left: 0;
				opacity: 1;
				display: block;
				z-index: 2;
				transition: all .3s ease-in-out;
			}
		}

		.sub-menu.depth-0 {
			.menu-item-has-children {
				position: relative;
				&::after {
					content: "";
					position: absolute;
					top: 1em;
					right: 1em;
					display: block;
					width: 7.071px;
					height: 11.313px;
					background-image: url(img/right-icon.svg);
				}

						&:hover {
										.sub-menu.depth-1 {
											min-width: 200px;
											max-width: 250px;
											position: absolute;
											top: .5em;
											left: 100%;
											opacity: 1;
											display: block;
											z-index: 2;
											transition: all .3s ease-in-out;
											a {
												line-height: 1.5;
											}
										}
									}

			}
		}
}

@media screen and (max-width: 1024px) {

	.banner {
		background-color: color.$background;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 34px;
		width: 100%;
		color: color.$brand;
		font-size: 12px;
		margin: 0 auto;
		text-align: center;
		a {
			color: color.$brand;
			font-size: 12px;
		}
	}

  header {
  	display: flex;
  	justify-content: space-between;
  	align-items: center;
  }
  .nav-top {
  	display: none;
  }
  .nav-bottom {
  	.h-tel {
  		display: none;
  	}
  }

.burger {
	display: inline-block;
	cursor: pointer;
	.bar1,.bar2 {
		display: block;
		width: 38px;
		height: 4px;
		background-color: #462279;
		transition: 0.4s;
		border-radius: 5px;
	}
	.bar1 {
		margin-bottom: 8px;
	}
}

.nav-bottom {
	display: none;
}


 /* end moobs */

}
