
.layout-new-heights{
	
	.is-heading{
		
		font-size: 27px;
		line-height: 2.5rem;
		margin: 0 auto 75px;
		text-transform: uppercase;

		span{
			text-transform: none;
			font-weight: 300;
			display: block;
		}

	}

	&__items{
		border: 1px solid red;
	}

	&__item{

		&:not(:nth-of-type(2)){
			display:none;
		}

		&-image img{
			margin: 0 auto;
		}

		&-text div{
			max-width: 225px;
			margin: 0 auto;
			line-height: 1.5rem;
		}


	}



	

}
