@use 'colors' as color;

//base layout 

.layout-1-2{

	align-items: center;
	display: flex;
	flex-direction: column;

	&__text{
			background-color: #FAFAFA;
			border:1px solid #E5E5E5;
			box-shadow: 0px 20px 40px -7px rgb(0 0 0 / 10%);
			color: color.$brand;
			font-size: 15px;
			margin-top: -90px;
			max-width: calc(100% - 40px);
    	background-repeat: no-repeat;
			
	}

	&__image{

		background-repeat: no-repeat;
		background-size: cover;
		min-height: 80vw;
		width: 100%;
		
	}
	
	&-reverse{
		margin-top: 50px;

		&__image{
			order: 2;
			position: relative;
			margin-top: -40px;
			z-index: 1;
		}
		
		&__text{
			margin-top: 0;
			order: 1;
			position: relative;
			width: 100%;
			z-index: 2;
		}

	}

}


// index page design
.layout-1-2-type__index{

	.layout-1-2__text{
		background-image: url("img/watermark-1.png");
		background-position: bottom right;
		padding: 40px 20px 50px;

		.is-heading{
			font-size: 27px;
			font-weight: bold;

			span{
				font-weight: 300;
			}

		}

		a{
			border-bottom: 1px solid;
			color: color.$brand;
			display: inline-block;
			font-weight: 500;
			padding-bottom: 1px;
			text-decoration: none;
		}

	}

	.layout-1-2-reverse__text{
		background-image: url("img/watermark-2.png");
		background-position: bottom left;
		padding: 50px 20px 50px;

		.is-heading{
			line-height: normal;
		}

		a{
			margin-top: 30px;
		}

	}


}



// interior page designs
