
.layout-text-only{
	padding: 70px 20px 120px;

	&.layout-text-with-heading{
		padding: 70px 20px 70px;
	}
}



@media only screen and (min-width: 960px) {
	.layout-text-only{

		&.layout-text-with-heading{
			padding: 120px 20px 220px;

			.is-heading{
				margin-bottom: 40px;
			}
		}

	}
}
