@use "../colors" as *;
//base layout
.layout-1-2{

	align-items: center;
	display: flex;
	flex-direction: column;

	&__text{
		background-color: #FAFAFA;
		background-repeat: no-repeat;
		border:1px solid #E5E5E5;
		box-shadow: 0px 20px 40px -7px rgb(0 0 0 / 10%);
		color: $brand;
		font-size: 15px;
		margin-top: -90px;
		max-width: calc(100% - 40px);
	}

	&__image{
		background-repeat: no-repeat;
		background-size: cover;
		min-height: 80vw;
		width: 100%;
	}

	&-reverse{
		margin-top: 50px;

		&__image{
			margin-top: -40px;
			order: 2;
			position: relative;
			z-index: 1;
		}

		&__text{
			margin-top: 0;
			order: 1;
			position: relative;
			width: 100%;
			z-index: 2;
		}
	}
}

// homepage
.layout-1-2-type__index{

	.layout-1-2__text{
		background-image: url("img/watermark-1.png");
		background-position: bottom right;
		padding: 40px 20px 50px;

		.is-heading{
			font-size: 27px;
			font-weight: bold;

			span{
				font-weight: 300;
			}
		}

		a{
			border-bottom: 1px solid;
			color: $brand;
			display: inline-block;
			font-weight: 500;
			padding-bottom: 1px;
			text-decoration: none;
		}

	}

	.layout-1-2-reverse__text{
		background-image: url("img/watermark-2.png");
		background-position: bottom left;
		padding: 50px 20px 50px;

		.is-heading{
			line-height: normal;
		}

		a{
			margin-top: 30px;
		}

	}
}


// inside

.layout-1-2-type__inner{

	.layout-1-2__text{
		padding: 40px;

		background-image: url("img/watermark-5.png");
		background-position: bottom right;


		.is-heading{
			font-weight: $font-weight-bold;
			&.u-text-medium{
				font-size: 28px;
			}
			&.u-font-semibold{
				font-weight: $font-weight-semibold;
			}
		}
	}

	&.layout-1-2-wide-text{

		.layout-1-2__text{
			max-width: 830px;
			padding-bottom: 110px;
		}
	}
}

// desktop
@media only screen and (min-width: 960px) {

	// base
	.layout-1-2{
		flex-direction: row;
		padding-bottom: 75px;
		padding-top: 75px;
		position: relative;

		&__text{
			margin-top: 0;
			max-width: 675px;
			order: 1;
			position: relative;
			z-index: 1;
		}

		.layout-1-2__text{
			padding-bottom: 70px;
			padding-left: 95px;
			padding-right: 105px;
			padding-top: 60px;

			.is-heading{
				font-size: 50px;
			}
		}

		&__image{
			height: 100%;
			margin-top: 0;
			max-width: calc((100% - 675px) + 100px);
			min-height: 0;
			order: 2;
			position: absolute;
			right:0 ;
			top: 0;
		}
	}

	// base reverse
	.layout-1-2-reverse{

		&__text{
			margin-left: auto;
		}

		&__image{
			left: 0;
			right: auto;
		}

	}

	//homepage
	.layout-1-2-type__index{

		.layout-1-2__text{
			a{
				margin-top: 10px;
				padding-bottom: 5px;
			}
		}

		&.layout-1-2-reverse{
			margin-top: 160px;

			.layout-1-2__text{
				padding-left: 105px;
				padding-right: 75px;
				text-align: left;

				.is-heading,p{
					text-align: left;
				}
			}
		}
	}

	.layout-1-2-type__inner{

		.layout-1-2__image{
			background-position: center center;
		}

		&.layout-1-2-wide-text{

			.layout-1-2__image{
				max-width: calc((100% - 800px) + 100px);
			}
		}

	}

}