@use "../colors" as *;

.layout-full-background-text{
	padding: 150px 20px;
	margin: 67px 0px 67px 0;
	background-position: center;
	background-size: cover;
	position: relative;
	z-index: 0;
	&::after {
		content:"";
				position: absolute;
				top: 0;
				right: 0;
				left: 0;
				bottom: 0;
				width: 100%;
				height: 100%;
				background-color: RGBA(75, 63, 106,.8);
				z-index: 1;
	}

	&__wrapper{
		max-width: 590px;
		margin: 0 auto;
		position: relative;
		z-index: 3;
	}


	p{
		margin-bottom: 40px;
	}

	.is-heading{
		line-height: 1.25;
	}

	.is-heading,
	p{
		color: $white;
	}

	&__text-text{
		margin-top: 50px;
	}

	&.layout-wider-text{
		padding: 195px 20px;
		margin-top: 90px;

		.layout-full-background-text__wrapper{
			max-width: 845px;
		}
	}
}
